@{
  Layout = "_Layout";
}

@using Registrar.Models
@model Registrar.Models.Department

<hr>
<h4>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>
<h4>@Html.DisplayNameFor(model => model.Courses): @Html.DisplayFor(model => model.Courses)</h4>
<br>

@if(@Model.Courses == 0)
{
  <p>This Department does not have any courses yet!</p>
}
else
{
  <h5>This Department has following courses:</h5>
  <ul>
    @foreach(Course course in Model)
    {

    }
}
  </ul>